# Environment
.env

# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Node
node_modules/
dist/
build/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Misc
*.log

.env

venv/
.env
__pycache__/
*.pyc
*.pyo
static/audio/
static/scans/
static/heatmaps/